.avatar{
    border: 3px solid #580DF6;
    display: flex;
    border-radius: 3px;
    img{
        width: 100px;
        height: auto;
        border-radius: 3px;
        position: relative;
        top: -10px;
        left: -15px;
        transition: all ease .3s;
        &:hover{
            top: 10px;
            left: 15px;
        }
    }
}