.animate{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    svg{
        width: 80%;
        padding-top: 60px;
        #siete, #cuatro, #tres{
            animation: one infinite 2s alternate;
        }
        #seis, #cinco, #dos, #uno{
            animation: two infinite 2s alternate;
        }
    }
}
@media (max-width: 880px){
    .animate{
        svg{
            width: 70%;
            padding-top: 100px;
        }
    }
}
@media (max-width: 570px){
    .animate{
        svg{
            width: 80%;
            padding-top: 100px;
        }
    }
}
@media (max-width: 570px){
    .animate{
        svg{
            width: 100%;
            padding-top: 0px !important;
        }
    }
}
@keyframes one {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-20px);
    }
}
@keyframes two {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}