.navbar_container {
  padding: 1px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
  .item {
    padding: 5px;
    margin: 10px 0px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all ease 0.5s !important;
      .line {
        width: 30px;
        height: 2px;
        background-color: #080412;
        border-radius: 5px !important;
        transition: all ease 0.5s !important;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}
.navbar_container_dark{
    background-color: #080412 !important;
}
.selected {
  a {
    p {
      color: #580DF6 !important;
    }
  }
  .line {
    background-color: #580DF6 !important;
  }
}
.selected_dark {
  a {
    p {
      color:  #580DF6 !important;
    }
  }
  .line {
    background-color:  #580DF6 !important;
  }
}

.await {
  a {
    p {
      color: #120929 !important;
      font-size: 12px !important;
      margin-left: 3px !important;
    }
  }
  .line {
    background-color: #120929 !important;
    width: 15px !important;
  }
}

.await_dark {
  a {
    p {
      color: rgb(185, 185, 185) !important;
      font-size: 12px !important;
      margin-left: 3px !important;
    }
  }
  .line {
    background-color: rgb(185, 185, 185) !important;
    width: 15px !important;
  }
}

@media (max-width: 650px){
    .navbar_container{
        flex-flow: row !important;
        .item{
            a{
                .line{
                    display: none !important;
                }
            }
        }
    }
}