.social_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    padding: 10px 50px;
    a{
        margin: 10px 10px;
        transition: all ease .3s;
        &:hover{
            transform: translateY(-5px);
        }
    }
}
.social_container_dark{
    background-color: #080412;
}