a{
    text-decoration: none;
    .container-logo{
        display: flex;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            margin-right: 5px;
        }
        .text-logo{
            .name{
                font-size: 12px;
                font-family: 'Lato', sans-serif;
            }
            .info{
                color: #580DF6;
                font-size: 10px;
            }
        }
    }
    .logo-dark{
        .name{
            color: #EEE !important;
        }
        .info{
            color: #580DF6 !important;
        }
    }
}